<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
<style type="text/css">
   TABLE {
    width: 300px;
    border-collapse: collapse;
   }
   TD, TH {
    padding: 3px;
    border: 1px solid black;
   }
   TH {
    background: #b0e0e6;
   }
  </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">
                  <a href="{{ url_for('main_page') }}">Все районы</a>
                  <a href="{{ url_for('list_schools') }}">Все школы</a>
              </li>
            </ul>
</div>
</head>
<body>

<table>
    <thead>
    <tr>
        {{ row['Cells']['EDU_NAME'] }}
    </tr>
    <tr>
        <th>Год</th>
        <th>Число учеников</th>
        <th>Ниже 160</th>
        <th>Выше 220</th>
    </tr>

    <tr>
        <td>
            {{ row['Cells']['YEAR'] }}
        </td>
        <td>
            {{ row['Cells']['PASSED_NUMBER_FULL'] }}
        </td>
        <td>
            {{ row['Cells']['PASSER_UNDER_160'] }}
        </td>
        <td>
            {{ row['Cells']['PASSES_OVER_220'] }}
        </td>
    </tr>
</table>
</body>
</html>
